<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal | InsuOrder</title>
    <link rel="icon" href="../assets/images/LogoInsuban_Mini.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <header class="header-container">
        <img src="../assets/images/LogoInsuban_Mini.png" alt="Logo" class="logo">
        <h1>InsuOrders</h1>
    </header>
    
    <nav class="navbar">
       <ul>
            <li>
                <a href="javascript:void(0);" class="menu-item">Proveedores</a>
                <ul class="sub-menu">
                    <li><a href="agregar_proveedor.html">Agregar Proveedor</a></li>
                    <li><a href="ver_proveedores.html">Ver lista de Proveedores</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="main-content">
        <a href="crear_orden.html" class="main-button">Crear Orden de Compra</a>
    </div>

    <footer>
        <p>&copy; 2024 Derechos reservados | Versión 2.0</p>
    </footer>

    <script src="../scripts/scripts.js"></script>
</body>
</html>
