/* Fondo general */
body {
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: relative;
    min-height: 100vh;
    overflow: visible;
}

.header-container {
    background-color: #0077cc;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    width: 40px;
    height: auto;
}

.navbar ul {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
    background-color: #ffffff;
    list-style-type: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar li {
    position: relative;
    font-size: 18px;
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #0077cc;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block;
}

.navbar a:hover {
    background-color: #0077cc;
    color: white;
}

.sub-menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 10px 15px;
    background-color: #e9f3fc;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 20;
}

.sub-menu li {
    position: relative;
    margin: 8px 0;
}

.sub-menu a {
    padding: 10px 20px;
    text-decoration: none;
    color: #0077cc;
    display: block;
    transition: background-color 0.3s;
    border-radius: 3px;
}

.sub-menu a:hover {
    background-color: #0077cc;
    color: white;
}

/* Submenú dentro del submenú */
.sub-menu .sub-menu {
    top: 0;
    left: 100%;
    margin-left: 10px;
    min-width: 200px;
}

/* Contenedor central de la página */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Cambia la altura de la sección central */
}

/* Estilo del botón de "Crear Orden de Compra" */
.main-button {
    text-decoration: none;
    background-color: #0077cc;
    color: white;
    font-size: 18px;
    padding: 20px 40px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.main-button:hover {
    background-color: #005fa3;
}

/* Footer */
footer {
    text-align: center;
    background-color: #0077cc;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}

footer p {
    font-size: 14px;
}
