<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña | InsuOrder</title>
    <link rel="icon" href="../assets/images/LogoInsuban_Mini.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/restablecer_password.css">
</head>
<body>
    <div class="reset-box" id="reset-box-email">
        <div class="logo-container">
            <img src="../assets/images/LogoInsuban_Slogan_SinFondo.png" alt="Logo" class="logo">
        </div>
        <h1>Restablecer Contraseña</h1>
        <form id="resetPasswordForm">
            <div class="textbox">
                <input type="email" placeholder="Correo electrónico" name="email" required>
            </div>
            <div class="btn-container">
                <button type="submit" class="btn">Enviar correo de verificación</button>
            </div>
        </form>
        <div class="forgot-password">
            <a href="login.html">Volver al login</a>
        </div>
    </div>
    
    <!-- Formulario para ingresar la nueva contraseña (invisible al principio) -->
    <div class="reset-box" id="reset-box-password" style="display: none;">
        <div class="logo-container">
            <img src="../assets/images/LogoInsuban_Slogan_SinFondo.png" alt="Logo" class="logo">
        </div>
        <h1>Cambiar Contraseña</h1>
        <form id="changePasswordForm">
            <div class="textbox">
                <input type="password" placeholder="Nueva contraseña" name="newPassword" required>
            </div>
            <div class="textbox">
                <input type="password" placeholder="Confirmar nueva contraseña" name="confirmPassword" required>
            </div>
            <div class="btn-container">
                <button type="submit" class="btn">Cambiar contraseña</button>
            </div>
        </form>
        <div class="forgot-password">
            <a href="login.html">Volver al login</a>
        </div>
    </div>
    
    <footer>
        <p>&copy; 2024 Derechos reservados | Versión 2.0</p>
    </footer>
    <script src="../script/resetPassword.js"></script>
</body>
</html>
